@page "/financial-tips"
<PageTitle>Fin Market (Financial Tips)</PageTitle>

<link href="css/tips.css" rel="stylesheet" />

<NavMenu />

<main>
    <div class="container">
        <div class="title">
            Wealth Wisdom for 
            <span>
                Smart Living
            </span>
        </div>

        <div class="subtitle">
            Empowering Your Financial Journey with Proven Strategies
        </div>

        <div class="row my-5">
            <div class="col">
                <div class="card">
                    <div class="card__side card__side--front-1">
                        <div class="card__details">
                            <h2 class="card-title">01</h2>  
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-1">
                            <div class="card__price-box">
                                <p class="card__price-value">
                                    Save at least 25% of each month's earnings for your future.
                                </p>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card__side card__side--front-2">
                        <div class="card__details">
                            <h2 class="card-title">02</h2>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-2">
                            <div class="card__price-box">
                                <p class="card__price-value">
                                    Make Three accounts for personal, living and emergency
                                </p>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card__side card__side--front-3">
                        <div class="card__details">
                            <h2 class="card-title">03</h2>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-3">
                            <div class="card__price-box">
                                <p class="card__price-value">
                                    Consider that a big salary is not always attainable
                                 </p>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card__side card__side--front-4">
                        <div class="card__details">
                            <h2 class="card-title">04</h2>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-4">
                            <div class="card__price-box">
                                <p class="card__price-value">
                                    For a better financial future,plan your retirement early.
                                </p>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        

        <div class="row my-5">
            <div class="col">
                <div class="card">
                    <div class="card__side card__side--front-5">
                        <div class="card__details">
                            <h2 class="card-title">05</h2>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-5">
                        <div class="card__price-box">
                            <p class="card__price-value">
                                Start right now. The younger you are, the more your savings can grow
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card__side card__side--front-6">
                        <div class="card__details">
                            <h2 class="card-title">06</h2>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-6">
                        <div class="card__price-box">
                            <p class="card__price-value">
                                Cut back on recurring charges
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card__side card__side--front-7">
                        <div class="card__details">
                            <h2 class="card-title">07</h2>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-7">
                        <div class="card__price-box">
                            <p class="card__price-value">
                                Exercise patience and self-control with your finances
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card__side card__side--front-8">
                        <div class="card__details">
                            <h2 class="card-title">08</h2>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-8">
                        <div class="card__price-box">
                            <p class="card__price-value">
                                Establish a budget to track your income and expenses.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


 </main>


