@page "/What is Trading"
<PageTitle>Fin Market (What Is Trading)</PageTitle>

<link href="css/tradingInfo.css" rel="stylesheet" />

<NavMenu />

<main>
    <div class="container">
        <div class="title">
            
                What Is Trading?
        </div>

        <section class="text-box">
            
            <p1>
                Trading is buying and selling assets with the objective of making a profit. In a financial market, trading refers to shares, goods and currencies.
                You can complete a trade through an exchange or over the counter (OTC). An exchange is a platform where brokers trade different financial instruments in the market on behalf of their clients. 
                Large organisations usually use the stock exchange method. An OTC trade happens directly between two parties. OTC trading is a more informal process that allows both parties to complete the trade by email or phone.
            </p1>
            <p1>
                You can get exposure to markets as diverse as the S&P 500, the FTSE 100, global currencies like the US dollar or Japanese yen, or even commodities like lean hog or cattle.
                Trading can be done for various purposes, from investing and hedging risk to speculating on market movements.
            </p1>
        </section>

        <section class="mt-4">
            <table class="trading-terms-table">
            <thead>
                <tr>
                    <th>Types Of Trading </th>
                    <th>What each type of Trading means</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Swing Trading</td>
                    <td>Strategy focusing on taking advantage of short to medium-term price patterns in the market.</td>
                </tr>
                <tr>
                    <td>Position Trading</td>
                    <td>A long-term strategy where traders hold positions for longer periods, often weeks or months.</td>
                </tr>
                <tr>
                    <td>Scalping</td>
                    <td>A strategy that involves making numerous trades to profit from small market movements.</td>
                </tr>
                <tr>
                    <td>Day Trading</td>
                    <td>Buying and selling securities within the same trading day, closing positions by the end of the day.</td>
                </tr>
                <tr>
                    <td>Fundamental Trading</td>
                    <td>Trading strategy based on fundamental analysis, which involves evaluating a security's intrinsic value.</td>
                </tr>
                <tr>
                    <td>Technical Trading</td>
                    <td>Using technical analysis and chart patterns to predict future price movements based on past trends.</td>
                </tr>
                <tr>
                    <td>Shares</td>
                    <td>Units of ownership in a company, representing a portion of the corporation's assets and earnings.</td>
                </tr>
                <tr>
                    <td>Commodities</td>
                    <td>Basic goods used in commerce that are interchangeable with other goods of the same type.</td>
                </tr>
                <tr>
                    <td>Delivery Trading</td>
                    <td>Buying stocks and holding them for more than a day, with the intention of delivery to the investor.</td>
                </tr>
            </tbody>
            </table>
            <div class="image-container">
                <img src="/images/Trade.PNG" class="images" />
                <img src="/images/Trading2.png" class="images" />
            </div>

            <table class="trading-terms-table">
                <thead>
                    <tr>
                        <th>Types Of Trading </th>
                        <th>What each type of Trading means</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Derivative Trading</td>
                    <td>Trading financial securities with a value that is reliant upon, or derived from, an underlying asset or group of assets.</td>
                </tr>
                <tr>
                    <td>Forex</td>
                    <td>Foreign exchange market where currencies are traded, one of the most actively traded markets in the world.</td>
                </tr>
                <tr>
                    <td>Bonds</td>
                    <td>Fixed-income instruments representing a loan made by an investor to a borrower, typically corporate or governmental.</td>
                </tr>
                <tr>
                    <td>Money Markets</td>
                    <td>Component of the financial markets where short-term borrowing, lending, buying, and selling with original maturities of one year or less are conducted.</td>
                </tr>
                <tr>
                    <td>Breakout Trading</td>
                    <td>A strategy where traders enter a position as early as possible in a trend, typically when the price breaks out of a prior trading range.</td>
                </tr>
                <tr>
                    <td>Crypto Trading</td>
                    <td>Buying and selling cryptocurrencies or digital currencies for profit.</td>
                </tr>
                <tr>
                    <td>Currency</td>
                    <td>System of money in general use in a particular country.</td>
                </tr>
                <tr>
                    <td>ETF Market</td>
                    <td>Exchange-Traded Funds, which are investment funds traded on stock exchanges, much like stocks.</td>
                </tr>
                <tr>
                    <td>Options</td>
                    <td>Financial derivatives that provide the holder the right, but not the obligation, to buy or sell an asset at an agreed-upon price and date.</td>
                </tr>
            </tbody>
        </table>
        </section>

        <section class="mt-4">
            <h2>Trading vs Investing</h2>
            <p>
                While often used interchangeably, trading and investing are distinct. Trading typically involves shorter-term 
                transactions aimed at profiting from market fluctuations. 
                Investing, on the other hand, is about building wealth over a longer period through the buying and holding of assets.
            </p>
        </section>
        <div class="image-container">
            <img src="/images/Risk-reward-ratio_extra.webp" class="images" />
            <img src="/images/Trading.webp" class="images" />
        </div>

        <section class="mt-4">
            <h2>Risks and Rewards</h2>
            <p>
                Trading offers the potential for significant profits but also comes with high risks. Market volatility can lead 
                to substantial losses, making it crucial for traders to be well-educated and to use risk management strategies.
            </p>
          
            <p>
               Formula to calculate Risk-Reward ratio: Risk – Reward Ratio = Potential Risk in Trading / Expected Rewards
            </p>
        </section>


        <section class="mt-4 mb-5">
            <h2>Getting Started</h2>
            <p>
                If you're interested in trading, it's important to start by gaining a solid understanding of the markets and the 
                different types of trading. Many traders begin with a practice or demo account before risking real capital.
            </p>
        </section>
    </div>
</main>