@page "/What-are-stocks"
<PageTitle>Fin Market (What Are Stocks)</PageTitle>

<link href="css/Educational.css" rel="stylesheet" />

<NavMenu />
<main
    <div class="container">
        <div class="title">
           What Are Stocks?
        </div>
        
        <section class=" text-box"
            <p>
               A stock represents a share in the ownership of a company, including a claim on the company's earnings and assets. 
               As such, stockholders are partial owners of the company. When the value of the business rises or falls, so does the value of the stock.
            </p>
            <p>
                Stocks are generally bought and sold electronically through stock exchanges, the two primary ones in the United States being the New York Stock Exchange (NYSE) and the National Association of Securities Dealers (NASDAQ). 
                While some companies sell stock directly to investors, most only sell stock through a brokerage such as Schwab.
            </p>
         </section>

         <div class="image-container">
            <img src="/images/worldstocks.png" class="custom-image" />
            <img src="/images/stockmarket.jpg" class="custom-image" />
        </div>
        
        <section class="mt-4">
            <h2>How Do Stocks Work?</h2>
            <p>
                When a company decides to issue stocks, it goes through an initial public offering (IPO) process, which
                determines the value of the company and the price of the initial shares. Once the company's stock is
                publicly traded, its shares can be bought and sold on stock exchanges.
            </p>
            <p>
                The price of stocks fluctuates based on supply and demand in the market. If more people want to buy a stock
                (demand) than sell it (supply), then the price moves up. Conversely, if more people want to sell a stock than
                buy it, there is greater supply than demand, and the price tends to fall.
            </p>
        </section>

        <section class="mt-4">
            <h2>Why Invest in Stocks?</h2>
            <p>
                People invest in stocks for the potential of making a profit through capital gains or dividends. Capital gains
                occur when you sell a stock at a higher price than you paid. Dividends are a share of the company's profits
                distributed to shareholders. However, investing in stocks also comes with risks, and it is possible to lose the
                invested capital if the stock price declines.
            </p>
        </section>

        <section class="mt-4">
            <h2>Risks and Rewards</h2>
            <p>
                The stock market can be volatile, and stock prices can fluctuate widely for a variety of reasons. Economic factors,
                political events, and company-specific news can all affect the price of stocks. It's important for investors to
                research and understand the companies they invest in and to be aware of the risks involved in stock market investing.
            </p>
        </section>

        <section class="mt-4">
            <h2>How Can You Earn Income From Owning Stock?</h2>
            <p>
                There are two primary methods of making money from owning stocks: dividends and capital appreciation. 
                Dividends represent the portion of a company's profits distributed to its shareholders in the form of cash. 
            </P>
            <p>
                For instance, if a company has 1,000 shares in circulation and announces a $5,000 dividend, each shareholder will receive $5 for every share they possess. 
                On the other hand, capital appreciation pertains to the growth in the stock's market value over time. If you sell a share to someone for $10 and the stock's value increases to $11 later on, the shareholder will have gained $1.
            </p>
        </section>

        <section class="mt-4">
            <h2>Is it risky to Own Stock?</h2>
            <p>
                All investments have a degree of risk. Stocks, bonds, mutual funds, and exchange-traded funds can lose value if market conditions decline. 
                When you invest, you make choices about what to do with your financial assets. Your investment value might rise or fall because of market conditions or corporate decisions, such as whether to expand into a new area of business or merge with another company.
                Historically, stocks have outperformed most other investments over the long run
            </p>
        </section>

        <section class="mt-4 mb-5">
            <h2>Getting Started</h2>
            <p>
                If you're interested in investing in stocks, it's recommended to start by learning about the market, researching
                different companies, and considering your investment goals and risk tolerance. Many investors start with a diversified
                portfolio to spread out risk and invest with a long-term perspective.
            </p>
        </section>
    </div>
</main>