@page "/fractional-shares"
<PageTitle>Fin Market (Fractional Shares)</PageTitle>

<link href="css/Fractional Shares.css" rel="stylesheet" />

<NavMenu />

<main>
    <div class="container">
        <div class="title">
           What Are Fractional Shares?
        </div>

        <section class="text-box">
            <p>
                Fractional shares are a relatively new development in investing.
                As their name suggests, fractional shares are portions or slivers of company shares and exchange-traded funds (ETFs) that are smaller than a whole, or single, share.
            </p>
            
            <p>
                They offer the same benefits as whole shares, including the right to receive a proportion of any dividends per share paid by the company.
            </p>
            
            <p>
                 Fractional shares typically appeal to investors with insufficient funds to buy whole shares in a company. 
                 This often applies to large US company stocks which haven’t carried out stock splits (explained in more detail below) to reduce the price per share.
            </p>
        </section>

        <div class="image-container">
            <img src="/images/fractional-shares.png" class="image" />
            <img src="/images/Frac2.webp" class="image" />
        </div>

        <section class="mt-4">
            <h2>How Do Fractional Shares Work?</h2>
            <p>
                Fractional shares come into existence in several ways, such as stock splits, dividend reinvestment plans (DRIPs), 
                or through specific brokerages that offer the option to buy fractions of a share. When you invest in fractional shares, 
                you still receive proportional dividends and have ownership rights, just like with full shares.
            </p>
        </section>

        <section class="mt-4">
            <h2>Benefits of Investing in Fractional Shares &#x1F604</h2>
            <ul>
               <li>
                   "Size Of Investment":Fractional shares allow individuals to invest small sums of money, particularly for those dipping their toes into investing for the first time. 
                   This allows individuals to build an equity portfolio with a relatively small amount of money
               </li>
               <li>
                   "Diversification":One of the basic principles of investing is diversifying a portfolio across different companies and sectors. 
                   Fractional shares allow investors to spread their money across a broader range of investments
               </li>
               <li>
                   "Pound- Cost Averaging":Fractional shares allow investors to drip-feed their money into equities over a period of time, meaning that they pay the average cost over that period. 
                   This can be advantageous in falling markets.
               </li>
            </ul>
        </section>

        <section class="mt-4">
            <h2>Disadvantages of Investing in Fractional Shares? &#128557</h2>
            <ul>
               <li>
                   Limited Selection of Stocks:Fractional shares  may not be available for all the companies and are not offered by many trading platforms
               </li>
               <li>
                   Liquidity:Fractional shares are not easily tradeable since it takes investors longer to sell shares.
               </li>
               <li>
                   Transfers: Some platforms do not allow the transfer of Fractional Shares to othe platforms.
               </li>
            </ul>
        </section>

        <section class="mt-4">
            <h2>Which Companies have the highest share Prices?</h2>
            <p>
                Investors often consider fractional shares in companies with high share prices. 
                Below is a list of companies with some of the highest share prices as of January 2024.
            </p>
            <table class="share-price-table">
            <thead>
                <tr>
                    <th>Company (Ticker Symbol)</th>
                    <th>Price per Share (approx, Jan 2024)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Berkshire Hathaway Inc (BRK.A)</td>
                    <td>$563,073</td>
                </tr>
                <tr>
                    <td>Lindt & Sprüngli</td>
                    <td>$142,974</td>
                </tr>
                <tr>
                    <td>NVR, Inc. (NVR)</td>
                    <td>$7,416.01</td>
                </tr>
                <tr>
                    <td>Seaboard Corporation (SEB)</td>
                    <td>$4,650</td>
                </tr>
                <tr>
                    <td>Amazon</td>
                    <td>$3,515.29</td>
                </tr>
                <tr>
                    <td>Booking Holdings Inc (BKNG)</td>
                    <td>£3,616.51</td>
                </tr>
                <tr>
                    <td>AutoZone</td>
                    <td>$2,770.99</td>
                </tr>
                <tr>
                    <td>Texas Pacific Land Corporation</td>
                    <td>$2,715.06</td>
                </tr>
            </tbody>
        </table>

        </section>

        <section class="mt-4">
            <h2>Getting Started</h2>
            <p>
                If you're interested in investing in fractional shares, start by researching brokerages that offer this option. 
                Consider your investment goals, risk tolerance, and the stocks you're interested in. As with any form of investing, 
                it's advisable to start small and increase your investment as you gain more understanding and confidence.
            </p>
        </section>
    </div>
</main>